{% extends 'base.html.twig' %}

{% block body %}
<table class="table">

    <thead>
    <tr>
        <th scope="col">locatie</th>
        <th scope="col">tijd</th>
        <th scope="col">soort</th>
    </tr>
    </thead>

    {% for lesson in lessons %}


            <tr>

                <th scope="row">{{ lesson.location }}</th>
                <th scope="row">{{ lesson.date|date("d/m/y ") }}</th>
                <th scope="row">{{ lesson.time|date("h:m ") }}</th>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn btn-primary" href="/join-lesson" role="button">join de les!</a></td>



            </tr>
    {% endfor %}
</table>
</tbody>
{% endblock %}